<%- include partials/header.ejs %>
<h1><%= title %></h1>
<p><%= title %> is a <%= job %>. He works on the computer all day with coding and design content for the web.</p>
<%- include partials/footer.ejs %>